layout="""
<h1>sitio web con django</h1>

<ul>
    <li><a href="/inicio">Inicio</a>
    <li>
    <li> <a href="/contacto"> contacto</a>
    <li>
    <li> <a href="/nosotros"> nosotros</a>
    <li>
    <li> <a href="/donaciones"> donaciones</a>
    <li>
     <li> <a href="/tienda"> tienda</a>
    <li>

    <li> <a href="/hola-mundo">hola mUndo</a>
    <li>
</ul>
<hr>
"""

<h1> contacto </h1>
    <p> aqui presentamos 3<p>
    <form act ion="/procesar_formulario" method="post">
    <label for="nombre">Nombres    :</label>
    <input type="text" id="nombre" name="nombre"  placeholder="ingrese nombre" required><br>
        <label for="apellido">Apellidos    :</label>
    <input type="text" id="apellido" name="apellido"  placeholder="ingrese apellidos" required><br>

    <label for="telefono">Telefono    :</label>
    <input type="text" id="telefono" name="telefono"  placeholder="ingrese telefono" required><br>
    
    <label for="correo    ">Correo    :</label>
    <input type="email" id="correo" name="correo" placeholder="email" required><br>
    
    <label for="region">Region    :</label>
    <input type="text" id="Region" name="Region"  placeholder="region" required><br>

<label for="direccion">Direccion    :</label>
<input type="text" id="direccion" name="direccion"  placeholder="Calle y Numero" required><br>

<label for="comuna">Comuna    :</label>
<input type="text" id="comuna" name="comuna"  placeholder="comuna" required><br>
    
    <input type="button" value="Enviar"><br>
  </form>
    